body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.printOnly {
  display: none;
}

@media print {
   .printOnly {
      display: block;
   }
   
   #toolbar {
      display: none;
   }
  
}

.toolbar {
  position: fixed;
  text-align: right;
}

#divThisResumeCanBeFound {
  text-align: center,
}

.QRCode {
  text-align:right;
  height: 80px;
}